<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IdeaEXPO</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="/auth/logout" onclick="signOut();">Sign out</a> </li>
    </ul>
  </div>
</nav>