<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="google-signin-client_id"
        content="600375456479-jlb7lrhulm3fjetatlcigtm62rs3lduv.apps.googleusercontent.com" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>IdeaEXPO</title>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
    {{> footer}}

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="/assets/js/app.js"></script>

</body>

</html>
