<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="600375456479-jlb7lrhulm3fjetatlcigtm62rs3lduv.apps.googleusercontent.com" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>IdeaEXPO</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    {{> nav.hbs}}
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>