<h3>Welcome to IdeaEXPO!</h3>
<h5>Here are your ideas!</h5>
{{#if ideas}}
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each ideas}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any business ideas</p>
{{/if}}