<div class="jumbotron">
    <h2>Welcome to IdeaEXPO playground! Share ideas, find collaborators, develop and create your business.</h2>
          <li>
            <a href="#"
              ><span class="glyphicon glyphicon-log-in"></span>Login with
              Google</a
            >
          </li>
</div>