<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">About </a>
      <a href="/auth/google" class="text-right navbar-brand btn red darken-1">
        <i class="fab fa-google "></i> Log In With Google
      </a>
    </div>
  </div>
</nav>

<div class="welcome-container ">
  <img src="/assets/img/title.png" width="800" class="welcome-container container-fluid img-fluid text-center"
    alt="IdeaEXPO image">
  <h2 class="">Hello, welcome to the IdeaExpo!</h2>
  <p>As an investor you have a platform where you can choose a business idea from different bloggers all
    over the world. As a business partner/collaborator you may join in on an idea or add on by reaching out to the
    blogger. Our app will be a playground for developing and discussing business ideas.</p>
  <div class="divider"></div>
  <div class="section text-center">
    <a class="btn btn-primary btn-lg" href="/auth/google" role="button">Get Started -> sign up</a>
  </div>

</div>