<nav class="nav-intro">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/views/about">About </a>
      <a href="/auth/google" class="login-with-google text-right navbar-brand btn red darken-1">
        <i class="fab fa-google "></i> Log In With Google
      </a>
    </div>
  </div>
</nav>

<div class="welcome-container">
  <img src="/assets/img/title.png" width="800" class="responsive-img welcome-container container-fluid img-fluid text-center"
    alt="IdeaEXPO image">
    <h2 class="">Welcome to the IdeaEXPO!</h2>
      <h4>Expose and startup your ideas with the world!!</h4>
        <div class="divider"></div>
    <div class="section text-center">
      <a class="btn teal darken-1 btn-lg" href="/auth/google" role="button">Get Started</a>
    </div>
</div>


