<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">About </a>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn" alt="googlesign-in"></div>
  </div>
</nav>



<div class="welcome-container ">
  <img src="/assets/img/title.png" width="1000" class="img-fluid text-center" alt="IdeaEXPO image">
  <h1 class="display-4">Hello, welcome to the IdeaExpo!</h1>
  <p>As an investor you have a platform where you can choose a business idea from different bloggers all
    over the world. As a business partner/collaborator you may join in on an idea or add on by reaching out to the
    blogger. Our app will be a playground for developing and discussing business ideas.</p>
  <div class="divider"></div>
  <div class="section text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
  </div>
</div>