<h3 class="edit-idea"><i class="red-text far fa-edit"></i> Edit Idea</h3>
<div class="row">
    <form action="/ideas/{{idea.id}}" method="POST" class="col s12">
        <input type="hidden" name="method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{idea.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select class="custom-select" id="status" name="status">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select class="custom-select" id="category" name="category">
                    <option value="general">General</option>
                    <option value="education">Education</option>
                    <option value="information">Information</option>
                    <option value="travel and recreation">Travel and Recreation</option>
                    <option value="medical">Medical</option>
                    <option value="business and service">Business and Service</option>
                    <option value="nutrition">Nutrition</option>
                    <option value="sport and fitness">Sport and Fitness</option>
                    <option value="pets and petcare">Pets and Petcare</option>
                    <option value="art">Art</option>
                </select>
                <label for="category">Category</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Share your idea:</h5>
                <textarea id="body" name="body">{{idea.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn teal darken-1">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>