form.signup,
form.login {
  margin-top: 50px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica", "Arial", sans-serif;
  color: white;
}
body {
  /* background: url("../img/colored_bulbs.jpg"); */
  /* background: url("../img/paint_bulb.jpg"); */
  background: url("../img/bulb_hand.jpg");
  /* background: url("../img/big-ideas.png"); */
  background-size: 100%;
  color: white;
  font-size: large;
}
/* h2 {
  color: white;
  font-size: x-large;
} */
