form.signup,
form.login {
  margin-top: 50px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica", "Arial", sans-serif;
  color: white;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../img/bulb_hand.jpg");
  /* width: auto; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/bulb_hand.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-size: large;
}
h2 {
  color: white;
  font-size: x-large;
}
