html {
	position: relative;
	min-height: 100%;
}
.container {
	width: 90% !important;
}
/* ---------------------------------------------- */
/* INTRO */
/* ---------------------------------------------- */
.login-with-google {
	margin-left: 100px;
}
.card-content {
	text-align: center;
	font-weight: bold;
}
.userName {
	font-weight: bolder;
	text-align: left;
}
/* ---------------------------------------------- */
/* NAV */
/* ---------------------------------------------- */
.sidenav li > a {
	color: white !important;
	font-weight: bolder !important;
}
.menu-btn {
	display: block !important;
	position: relative !important;
}
nav {
	height: 100px;
	margin-bottom: 2rem;
}
.idea-icon {
	display: inline;
	position: relative;
	align-items: center;
	padding-left: 10%;
}
.nav-about {
	height: 4rem;
}
.nav-intro {
	height: 5rem;
}
/* ---------------------------------------------- */
/* DASHBOARD */
/* ---------------------------------------------- */
.title {
	font-weight: bolder;
	font-size: medium;
}
.edit-delete {
	min-width: 210px !important;
	text-align: center;
}
.user-name {
	text-align: center;
	font-weight: bolder;
}
.user-name {
	text-align: center;
	font-weight: bolder;
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 45px;
	background-color: #c5e8ea;
}
.btn {
	border-radius: 15px;
}
/* ---------------------------------------------- */
/* ADD IDEA */
/* ---------------------------------------------- */
.add-idea {
	font-weight: bolder;
}
.fa-small {
	font-size: 16px !important;
}
.btn-float {
	float: left;
	margin-right: 10px;
}
.img-small {
	width: 180px;
}
/* ---------------------------------------------- */
/* Display */
/* ---------------------------------------------- */
.more-ideas {
	color: beige;
}
/* ---------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------- */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding-bottom: 10px;
	background-color: #000000;
	padding-top: 10px;
	font-size: 12px;
	align-items: center;
}
/* ---------------------------------------------- */
/* ABOUT */
/* ---------------------------------------------- */
.card-dev {
	background-color: #c5e8ea;
	text-align: center;
	border: lightcoral;
	border-style: solid;
	padding: 2rem 2rem;
	width: 300px;
	margin-top: 2rem;
	display: inline-block;
}
.all-cards {
	background-color: white;
}
.card-title-dev {
	font-family: "Great Vibes", cursive;
	font-size: 2rem;
}
.team {
	font-family: "Montserrat", sans-serif;
	margin-bottom: 1rem;
}
.social-media {
	margin-top: 1rem;
}
#meet-the-team-btn:hover {
	background-color: white;
	color: #000000 !important;
	border: 1px solid #000000 !important;
}
.social {
	font-size: large;
	margin: 5px;
	margin-top: 5px;
	font-weight: bold;
}
.card-app {
	background-color: #c5e8ea;
	text-align: center;
	border: lightcoral;
	border-style: solid;
	border-radius: 2rem 2rem;
	padding: 0rem 1rem;
	padding-bottom: 2rem;
	margin-top: 1rem;
	display: inline-block;
}
